<!DOCTYPE html>
<html lang="fr" xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion des clients</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/@coreui/coreui@2.1.16/dist/css/coreui.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />

    <style>
    .table{
	max-width:80%;
	margin-left:auto;
	margin-right:auto;
}
table{
border-left: solid grey 1px;
border-right: solid grey 1px;
}
.formulaire{
    width:50%;
	margin-left:auto;
	margin-right:auto;
}
h2{
    width:50%;
	margin-left:auto;
	margin-right:auto;

}
.search__input {
  width: 70%;
  height: 45px;
  background-color: #E5E5E5;
  font-size: 15px;
  color: #575756;
  border-radius: 50px;
  border: 0px;
  outline: 0;
}


.search__container{
	margin-left:20%;
	margin-bottom:5%;
	
}
label{
font-weight:bold;
}
#buttonBar{
    display: flex;
    justify-content: center;

}
#btn1{
margin-right:5%;
}
#btn2{
margin-right:5%;
}
.searchButton {
    float: right;
    width: 40px;
    height: 40px;
    border:0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search__input{
padding-left:5%;
}
.search_button{
background-color:transparent;
border:0;
position:relative;
right:50px;
}
 </style>
     

</head>




<body>
   <div class="formulaire">
   <h2>Gestion des clients</h2>
   <br/>
 
   
    <div class="search__container">
    <form th:action="@{/clients/chercher}">
     <input class="search__input" type="number" name="recherche" placeholder="Rechercher client par son id">
     <button class="search_button"  type="submit" ><i class="fas fa-search"></i></button>
    </form>
    
     </div>
 <form method="post" enctype="multipart/form-data" >
  <div class="row mb-3">
    <label for="inputId" class="col-sm-2 col-form-label">Id</label>
    <div class="col-sm-10">
      <input th:value="${clientAffiche.getId}" name="id" type="text" class="form-control" id="inputId" >
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputNom" class="col-sm-2 col-form-label" >Nom</label>
    <div class="col-sm-10">
      <input  th:value="${clientAffiche.getNom}" name="nom" type="text" class="form-control" id="inputNom">
    </div>
  </div>
   <div class="row mb-3">
    <label for="inputPrenom" class="col-sm-2 col-form-label" >Prénom</label>
    <div class="col-sm-10">
      <input th:value="${clientAffiche.getPrenom}" name="prenom" type="text" class="form-control" id="inputPrenom">
    </div>
  </div>
   <div class="row mb-3">
    <label for="inputAge" class="col-sm-2 col-form-label" >Age</label>
    <div class="col-sm-10">
      <input th:value="${clientAffiche.getAge}" type="number"  name="age" class="form-control" id="inputAge">
    </div>
  </div>
    <div class="row mb-3">
    <label for="inputImage" class="col-sm-2 col-form-label" >Image</label>
    <div class="col-sm-10">
      <input  type="file"  name="image" class="form-control" id="inputImage"  accept=".jpg, .jpeg, .png">
      
    </div>
    
  </div>
  <div id="buttonBar">
   <button id="btn1" th:formaction="@{/clients/nouveau}" type="submit" class="btn btn-primary">Ajouter</button>
  <button id="btn2" th:formaction="@{/clients/modifier}" type="submit" class="btn btn-secondary">Modifier</button>
  <button id="btn3" th:formaction="@{/clients/delete}" type="submit" class="btn btn-danger">Supprimer</button>
  </div>
  </form>
  

    </div>
  
   <div class="table">
   <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Age</th>
                <th>Action</th>
               
            </tr>
        </thead>
        <tbody>
      
            <tr th:each="client:${clients}">
                <td th:text="${client.getId}">1</td>
                <td th:text="${client.getNom}">Zariouh</td>
                <td th:text="${client.getPrenom}">Salima</td>
                <td th:text="${client.getAge}">21</td>
                <td>
                <form th:action="@{/clients}" method="post" >
                <input type="hidden" name="id" th:value="${client.getId}" />
                <button class="btn btn-secondary " type="submit" aria-expanded="false">Afficher
                </button>
                </form></td>
               
            </tr>
           
            </table>
           </div>

     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://unpkg.com/@coreui/coreui@2.1.16/dist/js/coreui.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


    <script src="jquery-3.5.1.min.js"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
<script>
$(document).ready(function() {
    $('#example').DataTable(
        { 
          "language": {
                "sEmptyTable":     "Aucune donnée disponible dans le tableau",
                "sInfo":           "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                "sInfoEmpty":      "Affichage de l'élément 0 à 0 sur 0 élément",
                "sInfoFiltered":   "(filtré à partir de _MAX_ éléments au total)",
                "sInfoPostFix":    "",
                "sInfoThousands":  ",",
                "sLengthMenu":     "Afficher _MENU_ éléments",
                "sLoadingRecords": "Chargement...",
                "sProcessing":     "Traitement...",
                "sSearch":         "Rechercher :",
                "sZeroRecords":    "Aucun élément correspondant trouvé",
                "oPaginate": {
                    "sFirst":    "Premier",
                    "sLast":     "Dernier",
                    "sNext":     "Suivant",
                    "sPrevious": "Précédent"
                },
                "oAria": {
                    "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                },
                "select": {
                    "rows": {
                        "_": "%d lignes sélectionnées",
                        "0": "Aucune ligne sélectionnée",
                        "1": "1 ligne sélectionnée"
                    }
                }
            },
            searching:false
        }
    );
} );

</script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

 
</body>

</html>